.header {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}

.title {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
}

.headerButtonsContainer {
  margin-left: auto;
  display: flex;
  gap: 1rem;
}
